body {
  font-family: "Original Surfer", sans-serif;
}

.card-title {
  font: 500 1.25rem "Original Surfer", cursive;
}

.card-text {
  font: 400 1rem "Open Sans", sans-serif;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}